@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


 
.logout{
  margin-left:72%;
  margin-top:-15%
}

 .chat-display{
  font-family: Arial, Helvetica, sans-serif;
 margin-top: 50px;
 display:inline-flex;
 align-content: center;
 justify-content: center;
margin-left:15%;
/* background-color: aquamarine; */
 }

.chat-users{
  /* border: 1px #fff solid ; */
  width:150px;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color:rgba(226, 244, 244, 0.952); 
}

 
.side-bar{
  list-style:none;

} 

img{
  height:50px;
  width:50px;
  border-radius: 50%;
  /* border:1px solid #23a1a1f3 ; */
  margin:25px 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
 
li{
  text-decoration: none;
  color:rgba(77, 76, 76, 0.952);
  display: block;
}


.chat-display h6,h3,h2, p{
  color:rgba(77, 76, 76, 0.952);
  margin-left: 25px;
  font-size: small;
}
.chat-board{
  border: 1px #fff solid ;
  width:500px;
  align-items: center;
  margin:3px;
  height: 95vh;
  padding: 20px;
  border-radius: 10px;
  background-color:#fff; 
  
}

.chat-card {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid rgba(226, 244, 244, 0.952);
  border-radius: 8px;
  background-color:rgba(226, 244, 244, 0.952); 
  margin-right: 30px;
  
}

.chat-card-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-card-content {
  display: flex;
  flex-direction: column;
}

.chat-username {
  font-weight: bold;
  margin-bottom: 5px;
}

.chat-message {
  margin: 0;
  font-size: 14px;
  color: #14bdbdf3;
}

.messages-list{
  height:calc(81% - 66px);
  padding-bottom: 50px;
  overflow-y: scroll;
  display:flex;
  flex-direction:column;
 
}
